<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<array>
		<dict>
			<key>NSAllowsLocalNetworking</key>
			<true/>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>GIDClientID</key>
	<string>446590316544-ds5jv7hnqr7cu7fektus79d1jh4t2191.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.446590316544-ds5jv7hnqr7cu7fektus79d1jh4t2191</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
